
<%- include("header.ejs")  %>
<section id="contact" class="section container">
    <h1 class="tag">Contact</h1>
    <p class="content">
        Email: maunykrishna@gmail.com
    </p>
</section>
<%- include("footer.ejs")  %>