<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Navi's Blog</title>
</head>
<body>
    <header id="head">
        <nav id="navbar" class="navbar">
            <div class="logo">Navi's Blog </div>
            <ul class="list">
                <li><a action="/" method="GET" href="/">Home</a> </li>
                <li><a action="/about" method="GET" href="/about">About</a> </li>
                <li><a action="/contact" method="GET" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
<main class="main">