body{
    background-color: mistyrose;
    transition: all 0.3s linear;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


#home{
    padding-bottom: 0;
}
.section{
    padding-block: 50px;
    margin-bottom: 30px;
}
#about{
    line-height: 1px;
    padding-top: 30px;
}
.container, #btns{
    width: 60vw;
    margin: auto;
}

.tag, .subtag{
    
    font-size: 22pt;
    padding-bottom: 20px;

}

.tag{
    padding-top:100px ;
}
.content{
    font-size: 14pt;
    margin-bottom: 25px;
    word-spacing: 3px;
    line-height: 1.5;
}
#home .content{
    margin-bottom: 10px;
}
.navbar {
    background: linear-gradient(180deg, white, rgba(240, 248, 255, 0.148)) ;
     position: fixed;
    justify-content: space-between;
    display: flex;
    padding-inline:20px ;
    width: 100%;
    height: 100px;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: 14pt;
}
.navbar .list{
   display: flex;
}
.navbar .list li{
    list-style: none;
    /* padding-inline: 10px; */
    cursor: pointer;
}

.navbar .logo{
    left: 0;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
}
.list li a{
    color: black;
 
 padding-inline: 10px;
}
.list li a:hover{
    color: maroon;
    /* background-color: white; */
    border-radius: 20px;
    filter: drop-shadow(3px 3px 15px rgb(255, 0, 0))
}
input, textarea{
    border: none;
}
.foot{
    position: fixed;
    display: flex;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
}
.foot p{
    margin: auto;
    /* font-size: 18pt; */
}
.compose{
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

.compose .input{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    /* margin-bottom: 20px; */
}
.inputTitle{
    text-transform: capitalize;
    padding-bottom: 0; 
   
}
.day, .name{
    font-size: 16pt;
    font-weight: 200;
    font-style: italic;
}
 .btn, .btn a{
    border-radius: 5px;
    width: 200px;
    font-size: 18pt;
    letter-spacing: 1px;
    outline: none;
    background-color: green;
    border: none;
    color: wheat;
    font-weight: bold;
    padding-block: 10px;
    padding-inline: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 70%;

}

#btns .btn, #btns .btn a{
            width:150px;
            margin: 10px;
}
#btns{
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
}
.btn a{
    background: none;
}
.btn:hover {
    box-shadow:inset 2px 2px 10px yellow;
    background-color: rgba(0, 128, 0, 0.738);
}

.delete{
    background: red;
}
.delete:hover{
    box-shadow:inset 2px 2px 10px green;
    background-color: red;
}
#posts p a:hover{
    text-decoration: underline;
    color: blue;
}


#post .name{
    float: right;
    padding-bottom: 20px;
    font-size: 15pt;
}

@media screen and (max-width: 550px) {
    .navbar{
        font-size: 10pt;
    }
    .navbar .list li{
        padding-inline: 0;
    }
    
    .tag, .subtag{
    
        font-size: 14pt;
    }
    #btns{
        justify-content:space-between;
    }
    #btns .btn, #btns .btn a{
        margin: 0;
        width:100px;
}
    .content{
        font-size: 10pt;
    }
    .foot p{
        font-size: 10px;
    }
    .btn, .btn a{
        font-size: 16px;
    }
   
    .compose .input{
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
 .navbar .list{
        flex-direction: column;
    }
    
}